<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Budget Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ path('expense_index') }}">Expenses</a></li>
            <li><a href="{{ path('expense_new') }}">Add Expense</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
